body {
  margin: 0;
  padding: 0;
  background-color: $bg;
  font-family: $font-family;
}


.header {
  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  font-size: 70px;
  font-weight: 900;
  color: $white;
}
